<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <title>Valent Dashboard</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Valent Dashboard" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
  <style>
    .filterable-values {
      min-height: 2em;
      border: #efefef dashed 1px;
      border-radius: 4px;
      padding: 4px;
    }
    .red-border { border-color: #a11; }
  </style>
</head>
<body x-data="App">
  <div class="container is-fluid mt-4">
    <template x-if="!token"> 
      <div class="field">
        <div class="control">
          <input class="input" placeholder="Paste token" type="text" x-model="token">
        </div>
      </div>
    </template>
    <template x-if="token">
      <div>
        <div class="has-text-centered">
          <p x-show="!data && !error">Loading...</p>
          <p x-show="!data && error" x-text="error">Error</p>
          <button x-show="error" class="button is-danger mt-4" x-on:click="token = null">Reset token</button>
        </div>
        <template x-if="data">
          <div>
            <div class="table-container">
              <table x-show="data" class="table is-fullwidth is-bordered is-hoverable is-striped is-narrow mt-4 mb-26">
                <thead>
                  <tr>
                    <th>Updated At</th>
                    <th>Last User</th>
                    <th>Last Ad</th>
                    <th>Last Effective Ad</th>
                    <th>last Message</th>
                    <th>Last ChatRoom</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td x-text="(new Date(data.updated_at)).toLocaleDateString('en-US', { month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' })"></td>
                    <td x-text="(new Date(data.last_user_created_at)).toLocaleDateString('en-US', { month: 'long', day: 'numeric' })"></td>
                    <td x-text="(new Date(data.last_ad_created_at)).toLocaleDateString('en-US', { month: 'long', day: 'numeric' })"></td>
                    <td x-text="(new Date(data.last_effective_ad_created_at)).toLocaleDateString('en-US', { month: 'long', day: 'numeric' })"></td>
                    <td x-text="(new Date(data.last_message_created_at)).toLocaleDateString('en-US', { month: 'long', day: 'numeric' })"></td>
                    <td x-text="(new Date(data.last_chat_room_created_at)).toLocaleDateString('en-US', { month: 'long', day: 'numeric' })"></td>
                    <td><button x-show="token" class="button is-danger is-small" x-on:click="token = null">Log out</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="columns" x-init="drawCharts(data)">
              <div class='column is-one-third'>
                <div class='mb-3'>
                  <canvas id="MAU"></canvas>
                </div>
                <div class='mb-3'>
                  <canvas id="DAU"></canvas>
                </div>
                <div class='mb-3'>
                  <canvas id="DVA"></canvas>
                </div>
              </div>
              <div class='column is-one-third'>
                <div class='mb-3'>
                  <H1 class="is-size-1">Ads</H1>
                  <canvas class='m-auto' id="Ads"></canvas>
                </div>
                <div class='mb-3'>
                  <H1 class="is-size-1">Users</H1>
                  <canvas class='m-auto' id="Users"></canvas>
                </div>
                <div class='mb-3'>
                  <H1 class="is-size-1">Devices</H1>
                  <canvas class='m-auto' id="Devices"></canvas>
                </div>

              </div>
              <div class='column is-one-third'>
                <div class='mb-3'>
                  <H1 class="is-size-1">Active Ads</H1>
                  <canvas class='m-auto' id="ActiveAds"></canvas>
                </div>
                <div class='mb-3'>
                  <H1 class="is-size-1">Users With Contacts</H1>
                  <canvas class='m-auto' id="UsersWithContacts"></canvas>
                </div>
                <div class='mb-3'>
                  <H1 class="is-size-1">User Contacts</H1>
                  <canvas class='m-auto' id="UserContacts"></canvas>
                </div>
              </div>
            </div>
          </div>
        </template>

        <template x-if="settings">
          <div class="mb-6" x-init="$nextTick(() => initSortable())">
            <div id="categories">
              <template x-for="category in settings.categories.sort((a,b) => a.position - b.position)" x-i>
                <div x-bind:data-id="category.id" class="category box">
                  <div x-text="category.name"></div>
                  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <tbody>
                      <template x-for="option in category.ad_option_types.sort((a,b) => a.position - b.position)">
                        <tr x-bind:data-id="option.id" class="option">
                          <td>
                            <a @click="openModal(category, option)">
                              <span x-text="option.localized_name"></span>
                            </a>
                          </td>
                          <td>
                            <template x-for="value in option.values.sort((a,b) => a.position - b.position)">
                              <span x-bind:data-id="value.id" class="option-value tag mr-1 mb-1 is-light is-link" x-text="value.name"></span>
                            </template>
                          </td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                </div>
              </template>

              <button @click="updateSettings()" class="button is-light is-info">Update</button>
            </div>
        </template>
        <template x-if="modal.open">
          <div id="modal" class="modal" :class="modal.open && 'is-active'">
            <div @click="modal.open = false" class="modal-background"></div>
            <div class="modal-content">
              <div class="box">
                <h1 class="title is-1 has-text-grey-lighter" x-text="modal.categoryName"></h1>
                <h2 class="subtitle is-2 has-text-grey" x-text="modal.optionName"></h2>
                <div data-group-name="" class="filterable-values red-border block">
                  <template x-for="knownValue in modal.known">
                    <span class="tag is-light is-danger mr-1 mb-1" x-text="knownValue"></span>
                  </template>
                </div>
                <template x-for="groupName in Object.keys(modal.values)">
                  <div>
                    <div class="columns">
                      <div class="column is-4">
                        <span class="tag is-light is-success" x-text="groupName"></span>
                      </div>
                      <div class="column">
                        <div x-bind:data-group-name="groupName" class="filterable-values">
                          <template x-for="value in modal.values[groupName]">
                            <span class="tag is-light mr-1 mb-1" x-bind:data-id="value.id" x-text="value.raw_value"></span>
                          </template>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
        </template>
      </div>
    </template>
  </div>

  <script type="text/javascript">
    const API_URL = "$VALENT_API_HOST";

    function App() {
      return {
        token: Alpine.$persist(null).as('dashboard.token'),
        data: Alpine.$persist(null).as('dashboard.data'),
        settings: null,
        error: null,
        modal: {
          open: false,
          category: {},
          option: {},
          known: [],
          values: [],
        },
        modalOpen: false,
        init() {
          this.getDashboardData();
          this.getSettings();
        },
        drawCharts(data) {
          const mappedMAUData = JSON.parse(data.mau_chart_data).map( x => ({count: x.count, date: (new Date(x.date+"-01")).toLocaleString('en-US', { month: 'long' })}));

          new Chart(document.getElementById('MAU'), this.basicLineChart("MAU", mappedMAUData));
          new Chart(document.getElementById('DAU'), this.timeLineChart("DAU", JSON.parse(data.user_activity_chart_data)), "week");
          new Chart(document.getElementById('DVA'), this.timeLineChart("DVA", JSON.parse(data.visited_ad_chart_data)), "week");
          new Chart(document.getElementById('Ads'), this.basePieChart([data.known_ads_count, data.ads_count - data.known_ads_count], ['Known', 'Unknown']));
          new Chart(document.getElementById('Users'), this.basePieChart([data.users_count - data.users_with_no_contacts_count, data.users_with_no_contacts_count], ['w Contacts', 'w/o Contacts']));
          new Chart(document.getElementById('ActiveAds'), this.basePieChart([data.effective_ads_count, data.active_ads_count - data.effective_ads_count], ['Effective', 'Other']));
          new Chart(document.getElementById('Devices'), this.basePieChart(JSON.parse(data.user_devices_os_data).map(d => d.count), JSON.parse(data.user_devices_os_data).map(d => d.os_title)));
          new Chart(document.getElementById('UsersWithContacts'), this.basePieChart([((data.users_count - data.users_with_no_contacts_count) - data.users_with_no_connections_count), data.users_with_no_connections_count], ['Have Connections', 'No Connections']));
          new Chart(document.getElementById('UserContacts'), this.basePieChart([data.user_contacts_count - data.uniq_user_contacts_count, data.uniq_user_contacts_count], ['Duplicate', 'Unique']));
        },
        async getSettings() {
          return fetch(`${API_URL}/api/v1/settings`).then(response => response.json()).then(data => {
            this.settings = data;
            // Alpine.nextTick(() => this.initSortable());
          });
        },
        async getDashboardData() {
          return fetch(`${API_URL}/api/integrations/dashboard?access_token=${this.token}`)
            .then(response => response.json())
            .then(data => this.data = data.records[0])
            .catch(error => console.log(this.error = error))
        },
        initSortable() {
          document.querySelectorAll('tr.option td').forEach(el => new Sortable(el));
          document.querySelectorAll('.category.box tbody').forEach(el => new Sortable(el));
          new Sortable(document.getElementById('categories'));
        },
        openModal(category, option) {
          this.modal = { categoryName: category.name, optionName: option.localized_name, known: [], values: [], open: true }
          fetch(`${API_URL}/api/admin/filterable_values?access_token=${this.token}&ad_option_type_id=${option.id}`)
            .then(response => response.json())
            .then(data => {
              this.modal.known = data.known_options
              this.modal.values = data.filterable_values
              Alpine.nextTick(() => document.querySelectorAll('.filterable-values').forEach(el => new Sortable(el, {
                group: 'fitlerable-value',
                sort: false,
                onEnd: (evt) => {
                  this.manageFilterableValue({ to: evt.to, from: evt.from, item: evt.item, optionId: option.id});
                }
              })))
             })
            .catch(error => console.log(this.error = error))
        },
        manageFilterableValue({ to, from, item, optionId }) {
          if (to === from) {
            return;
          } else if (to.dataset.groupName === "") {
            fetch(`${API_URL}/api/admin/filterable_values/${item.dataset.id}`, {
              method: "DELETE",
              headers: {
                "Content-Type": "application/json",
                "X-User-Access-Token": this.token
              }
            }).then(response => response).then(data => item.classList.add("is-danger") && (item.dataset.id = undefined))
          } else if (from.dataset.groupName == "") {
            fetch(`${API_URL}/api/admin/filterable_values`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "X-User-Access-Token": this.token
              },
              body: JSON.stringify({"ad_option_type_id": optionId, "group_name": to.dataset.groupName, "raw_value": item.innerText})
            }).then(response => response.json()).then(data => item.classList.remove("is-danger") && (item.dataset.id = data.id))
          } else {
            fetch(`${API_URL}/api/admin/filterable_values/${item.dataset.id}`, {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
                "X-User-Access-Token": this.token
              },
              body: JSON.stringify({group_name: to.dataset.groupName})
            })
          }

        },
        updateSettings() {
          return fetch(`${API_URL}/api/admin/settings`, {
            method: "PUT",
            headers: {
              "Content-Type": "application/json",
              "X-User-Access-Token": this.token,
            },
            body: JSON.stringify({ categories: this.currentSettings() })
          }).catch(error => console.log(this.error = error))
        },
        currentSettings() {
          return Array.from(document.querySelectorAll('.category.box')).map((c,index) => {
            return {
              id: c.dataset.id,
              position: index,
              ad_option_types: Array.from(c.querySelectorAll('tr.option')).map((o, index) => {
                return {
                  id: o.dataset.id,
                  position: index,
                  values: Array.from(o.querySelectorAll('td')[1].querySelectorAll('span')).map((s, index) => {
                    return {
                      id: s.dataset.id,
                      // name: s.innerText,
                      position: index,
                    }
                  })
                }
              })
            }
          })
        },
        timeLineChart (chartName, data, timeUnit) {
          return {
            ...this.basicLineChart(chartName, data),
            options: {
              ...this.basicLineChart(chartName, data).options,
              scales: {
                  x: {
                      type: 'time',
                      time: {
                          unit: timeUnit
                      }
                  }
              }
            }
          }
        },
        basicLineChart (chartName, data) {
          return {
            type: 'line',
            data: {
              datasets: [{
                label: chartName,
                data: data
              }]
            },
            options: {
              parsing: {
                xAxisKey: 'date',
                yAxisKey: 'count'
              },
            }
          }
        },
        basePieChart (data, labels) {
          return {
            type: 'pie',
            data: {
              datasets: [{
                data: data,
              }],
            labels: labels,
            },
            options: {
              responsive: false,
              plugins: {
                  tooltip: {
                      callbacks: {
                          label: (Item) => ' ' + Item.label + ' ' + Item.formattedValue + ' (' + (((Item.raw  / data.reduce((accumulator, currentValue) => accumulator + currentValue, 0)) * 100).toFixed()) + '%)'
                      }
                  }
              },
            }
          }
        }
      }
    }
  </script>
</body>
</html>